.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.selection,
#upload,
#CSS_generator {
  margin: 1rem 0;
}

#upload {
  width: 30%;
}

#template {
  width: 10%;
  padding: 5px;
}

#CSS_generator {
  width: fit-content;
}

#output,
#CSS_output {
  width: 80%;
  margin: 1rem 0;
}

.workspace {
  display: flex;
}

.menu {
  width: 80%;
  display: flex;
  justify-content: start;
}

.menu>* {
  margin-right: 1rem;
}

.sucessMessage_HTML {
  font-weight: 700;
  color: rgb(255, 90, 13);
}

.sucessMessage_CSS {
  font-weight: 700;
  color: rgb(175, 9, 252);
}